<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Index oldal</title>

    <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>

    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>

</head>
<body>

<div th:insert="~{shared/navBar :: navbar}"></div>

<div class="container h-100">

    <div class="row h-100">
        <h3 class="text-center pt-5">Üdvözlöm a Könyv és Szerző kezelő alkalmazásban!</h3>
        <div class="text-center pt-5" th:text="'Itt könnyedén rögzíthetőek kedvenc könyvei és szerzői, valamint keresni is tudsz a adatbázisban.'"
             style="font-size: 24px; font-weight: bold; color: #333;"></div>

        <div class="col"></div>
        <div class="col">
            <img th:src="@{/img/indeximage.jpg}" style="margin-top: 50px" alt="Index Kép.">
        </div>
        <div class="col"></div>
    </div>
</div>



<script>

</script>


</body>
</html>
